.store_form{


  border:1px solid lightgrey;
  padding: 5px;

}

.store_form1{

border:1px solid lightgrey;
padding: 5px;
float: none;

}

.rem_this{

float:right;
cursor: pointer;
/*position:relative;*/
/*right:50px;*/
margin-top: -50px;
}


div.form_field{
display: inline-block;
float: left;
width:400px;
}

.form_field p{
  display:inline-block;
  width:150px;
  text-align: left;
}

.form_field input{
color:grey;
  display:inline-block;


}

.form_field input:focus{

  padding: 5px;
  border: 1px solid grey;
  box-shadow: none;

  outline: -webkit-focus-ring-color auto 5px;
  outline-color: lightgrey;
  outline-style: none;
  outline-width: 5px;


}

form{

  background: rgba(255, 255, 255, 0.5);
  box-shadow: 4px black;
  text-align: center;
}



.form_field input[type='submit']{
  border: 1px solid lightgrey;
  background: none;
  padding: 10px;
  color: grey;
  font-size: 20px;
}

.form_field input[type='submit']:hover{
  padding: 15px;
  margin: -5px;

}



h3,p{
  color: grey;
}
