@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}

body {
    font-family: roboto;
}

a{
text-decoration: none;
color:black;
}


.lft{
  float:left;
  width:100px;
}
.rgt{
}

	
	
	
	
.main_box{
  width:600px;
  padding: 30px;
  padding-top:50px;
  margin:auto;
  background:#f0f0f0;;
}

.small_box{
  background:white;
  padding:20px;
  margin:30px;
  padding-left:50px;

}

input[type="text"]{
  border:1px solid lightgrey;
  padding:3px;
}

input[type="submit"]{
  border:1px solid lightgrey;
  padding:3px;
  font-size:20px;
  padding:10px;
  color:black;
  background:white
}


input[type="text"]:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color:blue;
  outline-style: none;
  outline-width: 5px;
}











.tabs {
  position: relative;   
  height:0px; /* This part sucks */
  margin:0px;
}
.tab {
  float: left;
}
.tab label {
  background: #eee; 
  padding: 10px; 
  border: 1px solid #ccc; 
  margin-left: -1px; 
  position: relative;
  left: 1px; 
}
.tab [type=radio] {
  display: none;   
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc; 
}
[type=radio]:checked ~ label {
  background: white;
 
}
[type=radio]:checked ~ label ~ .content {
  
}


.ui-autocomplete{
max-width:300px !important; 
border: 1px solid lightgrey !important;
list-style:none !important;
padding:10px
}

.ui-state-focus{
background:#EEE !important;

}

.ui-menu-item{
margin:0px !important;
border:none !important;
padding: 5px !important;
  font-family: roboto;

}



.jsontotable table, .jsontotable th, .jsontotable td {
  border: 1px solid lightgrey;
  padding: 10px;
}

code {
  white-space: normal;
}

.jsontotable{
 
}

.jsontotable table{
}




.clear{
clear:both;
display:block;
}


#data-table{
margin:auto

}

#data-table-inner{


}

.searchbar{
padding:10px;
}


