.main_box{
  width:600px;
  padding: 30px;
  padding-top:50px;
  margin:auto;
  background:#f0f0f0;;
}

.small_box{
  background:white;
  padding:20px;
  margin:30px;
  padding-left:50px;

}

input[type="text"]{
  border:1px solid lightgrey;
  padding:3px;
}

input[type="submit"]{
  border:1px solid lightgrey;
  padding:3px;
  font-size:20px;
  padding:10px;
  color:black;
  background:white
}


input[type="text"]:focus {
  outline: -webkit-focus-ring-color auto 5px;
  outline-color: lightgrey;
  outline-style: none;
  outline-width: 5px;
}
